<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sample to process grib data</title>
  <meta name="description" content="A showcase how to process grib data with AWS, Docker, ecCodes, Python, matplotlib">
  <meta name="author" content="Dennis Schulze">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <script src="js/scripts.js"></script>
   <h1>FMI HIRLAM Sample Visualisation </h1>
<table>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_000.png"><img src="basemap/2t_MODELRUNTIME_000.png" width=400></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_001.png"><img src="basemap/2t_MODELRUNTIME_001.png" width=400></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_002.png"><img src="basemap/2t_MODELRUNTIME_002.png" width=400></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_003.png"><img src="basemap/2t_MODELRUNTIME_003.png" width=400></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_004.png"><img src="basemap/2t_MODELRUNTIME_004.png" width=400></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_005.png"><img src="basemap/2t_MODELRUNTIME_005.png" width=400></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_006.png"><img src="basemap/2t_MODELRUNTIME_006.png" width=400></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_007.png"><img src="basemap/2t_MODELRUNTIME_007.png" width=400></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_008.png"><img src="basemap/2t_MODELRUNTIME_008.png" width=400></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_009.png"><img src="basemap/2t_MODELRUNTIME_009.png" width=400></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_010.png"><img src="basemap/2t_MODELRUNTIME_010.png" width=400></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_011.png"><img src="basemap/2t_MODELRUNTIME_011.png" width=400></a></td>
  </tr>
</table>
</body>
</html>

