<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sample to process grib data</title>
  <meta name="description" content="A showcase how to process grib data with AWS, Docker, ecCodes, Python, matplotlib">
  <meta name="author" content="Dennis Schulze">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <script src="js/scripts.js"></script>
   <h1>FMI HIRLAM Sample Visualisation </h1>
<table>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_000.png"><img src="basemap/2t_MODELRUNTIME_000.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_001.png"><img src="basemap/2t_MODELRUNTIME_001.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_002.png"><img src="basemap/2t_MODELRUNTIME_002.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_003.png"><img src="basemap/2t_MODELRUNTIME_003.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_004.png"><img src="basemap/2t_MODELRUNTIME_004.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_005.png"><img src="basemap/2t_MODELRUNTIME_005.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_006.png"><img src="basemap/2t_MODELRUNTIME_006.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_007.png"><img src="basemap/2t_MODELRUNTIME_007.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_008.png"><img src="basemap/2t_MODELRUNTIME_008.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_009.png"><img src="basemap/2t_MODELRUNTIME_009.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_010.png"><img src="basemap/2t_MODELRUNTIME_010.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_011.png"><img src="basemap/2t_MODELRUNTIME_011.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_012.png"><img src="basemap/2t_MODELRUNTIME_012.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_013.png"><img src="basemap/2t_MODELRUNTIME_013.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_014.png"><img src="basemap/2t_MODELRUNTIME_014.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_015.png"><img src="basemap/2t_MODELRUNTIME_015.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_016.png"><img src="basemap/2t_MODELRUNTIME_016.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_017.png"><img src="basemap/2t_MODELRUNTIME_017.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_018.png"><img src="basemap/2t_MODELRUNTIME_018.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_019.png"><img src="basemap/2t_MODELRUNTIME_019.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_020.png"><img src="basemap/2t_MODELRUNTIME_020.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_021.png"><img src="basemap/2t_MODELRUNTIME_021.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_022.png"><img src="basemap/2t_MODELRUNTIME_022.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_023.png"><img src="basemap/2t_MODELRUNTIME_023.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_024.png"><img src="basemap/2t_MODELRUNTIME_024.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_025.png"><img src="basemap/2t_MODELRUNTIME_025.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_026.png"><img src="basemap/2t_MODELRUNTIME_026.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_027.png"><img src="basemap/2t_MODELRUNTIME_027.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_028.png"><img src="basemap/2t_MODELRUNTIME_028.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_029.png"><img src="basemap/2t_MODELRUNTIME_029.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_030.png"><img src="basemap/2t_MODELRUNTIME_030.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_031.png"><img src="basemap/2t_MODELRUNTIME_031.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_032.png"><img src="basemap/2t_MODELRUNTIME_032.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_033.png"><img src="basemap/2t_MODELRUNTIME_033.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_034.png"><img src="basemap/2t_MODELRUNTIME_034.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_035.png"><img src="basemap/2t_MODELRUNTIME_035.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_036.png"><img src="basemap/2t_MODELRUNTIME_036.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_037.png"><img src="basemap/2t_MODELRUNTIME_037.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_038.png"><img src="basemap/2t_MODELRUNTIME_038.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_039.png"><img src="basemap/2t_MODELRUNTIME_039.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_040.png"><img src="basemap/2t_MODELRUNTIME_040.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_041.png"><img src="basemap/2t_MODELRUNTIME_041.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_042.png"><img src="basemap/2t_MODELRUNTIME_042.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_043.png"><img src="basemap/2t_MODELRUNTIME_043.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_044.png"><img src="basemap/2t_MODELRUNTIME_044.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_045.png"><img src="basemap/2t_MODELRUNTIME_045.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_046.png"><img src="basemap/2t_MODELRUNTIME_046.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_047.png"><img src="basemap/2t_MODELRUNTIME_047.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_048.png"><img src="basemap/2t_MODELRUNTIME_048.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_049.png"><img src="basemap/2t_MODELRUNTIME_049.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_050.png"><img src="basemap/2t_MODELRUNTIME_050.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_051.png"><img src="basemap/2t_MODELRUNTIME_051.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_052.png"><img src="basemap/2t_MODELRUNTIME_052.png" width=600></a></td>
    <td><a href="basemap/2t_MODELRUNTIME_053.png"><img src="basemap/2t_MODELRUNTIME_053.png" width=600></a></td>
  </tr>
  <tr>
    <td><a href="basemap/2t_MODELRUNTIME_054.png"><img src="basemap/2t_MODELRUNTIME_054.png" width=600></a></td>
  </tr>
</table>
</body>
</html>

